{% include'student_header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 600px">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/assets/img/e6.jpg);height: 600px">
          <div class="carousel-container">
            <div class="container">
            	<h2>Category</h2>
	</div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
	<center>
	
	<form method="post">
		
		<br>

		
			<table class="table" style="width: 800px;color: black;font-family: monospace;font-size: 20px;font-style: italic;">
				
				<tr>
					<th>Sl.no</th>
					<th>Category</th>
				</tr>
				{% for row in data['cat'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['title']}}</td>
					<td><a class="btn btn-info" href="student_manage_talent?id={{row['category_id']}}">Add Talent</a></td>
				</tr>
				{% endfor %}
			</table>
	</div>
	</form>
	
		
</center>


	
{% include'footer.html' %}
